<div class="education-row">
  <h4 class="education-title indigo-text darken-3">EDUCACIÓN</h4>
  <hr>
  <div class="row">
    <div class="col s6">
      <div class="education-item">
        <div class="item-icon valign-wrapper"><i class="center-align material-icons">thumb_up</i></div>
        <div class="item-text">
          <h5 class="">Ingeniería Industrial</h5>
          <p class="">Universidad Nacional de Asunción</p>
          <p class="indigo-text lighten-4">Asunción, Paraguay - 1987</p>
        </div>
      </div>
      <div class="education-item">
        <div class="item-icon valign-wrapper"><i class="center-align material-icons">settings_input_composite</i></div>
        <div class="item-text">
          <h5 class="">Ingeniería de Sistemas</h5>
          <p class="">IBM Instituto de Ciencias de Sistemas</p>
          <p class="indigo-text lighten-4">Buenos Aires, Argentina - 1989</p>
        </div>
      </div>
      <div class="education-item">
        <div class="item-icon valign-wrapper"><i class="center-align material-icons">supervisor_account</i></div>
        <div class="item-text">
          <h5 class="">High Performance Leadership</h5>
          <p class="">IMD Institute</p>
          <p class="indigo-text lighten-4">Lausanne, Suiza</p>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="education-item">
        <div class="item-icon-right valign-wrapper"><i class="center-align material-icons">business</i></div>
        <div class="item-text-right">
          <h5 class="">Liderazgo en negocios</h5>
          <p class="">Standford</p>
          <p class="indigo-text lighten-4">California, USA - 2011</p>
        </div>
      </div>
      <div class="education-item">
        <div class="item-icon-right valign-wrapper"><i class="center-align material-icons">hearing</i></div>
        <div class="item-text-right">
          <h5 class="">Coach para Formación de Lideres</h5>
          <p class="">Coaching TIGO</p>
          <p class="indigo-text lighten-4">Asunción, Paraguay - 2012</p>
        </div>
      </div>
      <div class="education-item">
        <div class="item-icon-right valign-wrapper"><i class="center-align material-icons">language</i></div>
        <div class="item-text-right">
          <h5 class="">Graduado bachiller en USA</h5>
          <p class="">Park Falls</p>
          <p class="indigo-text lighten-4">Wisconsin, USA</p>
        </div>
      </div>
    </div>
  </div>
</div>
