<div class="container extract-row">
  <a class="btn btn-floating btn-large indigo darken-4"><i class="material-icons">dialpad</i></a>
    <p class="flow-text extract-paragraph">
      Primera Ingeniera Industrial mujer del Paraguay, graduada de la Universidad Nacional de Asunción, con experiencia en las industrias de Telecomunicaciones, Cadena de Abastecimiento, Banca, Internet y Tecnologias de la Informacion.
    </p>
    <p class="extract-paragraph-min">
      Fuí Gerente General/Regional de 6 subsidiarias de Millicom International en Latinoamérica y África. Lideré y participé en mejoras sustanciales, comerciales y financieras, de las operaciones de la empresa, además de proyectos de transformación del negocio para lograr eficiencias. Conduje proyectos multinacionales de gran escala en ambientes multi-culturales, llevando las mejores prácticas en entornos culturalmente diferentes, con alto éxito comercial y financiero. Actualmente soy consultora senior del proyecto SIPAIL del Ministerio del Trabajo junto con el Banco Interamericano de Desarrollo, implementando un sistema de inserción laboral. Además soy CEO de Bancard SA liderando el proceso de transformación para lograr mayor inclusión, adopción y formalización financiera en Paraguay.
    </p>
</div>
