<div class="row organizations-row">
  <h4 class="skills-title indigo-text darken-3">MEMBRESÍAS</h4>
  <hr>
    <div class="col m4 s12 organizations-text">
      <p class="flow-text">Durante mi carrera particié y sigo participando en <strong>organizaciones de forma voluntaria,</strong> con el objetivo de aportar mis conocimientos adquiridos durante los años, así como para continuar <strong>desarrollando campos</strong> de mi interés</p>
    </div>
    <div class="col m8 s12">
      <div class="row items">
        <div class="col m3 s6 valign-wrapper">
          <div class="organization-item valign-wrapper">
            <p class="item-text">Miembro de DENDE (Desarrollo en Democracia)</p>
          </div>
        </div>
        <div class="col m3 s6 valign-wrapper">
          <div class="organization-item valign-wrapper">
            <p class="item-text">Miembro del directorio del Club de Ejecutivos del Paraguay</p>
          </div>
        </div>
        <div class="col m3 s6 valign-wrapper">
          <div class="organization-item valign-wrapper">
            <p class="item-text">Asesor ad-honorem de Educacion para la excelencia</p>
          </div>
        </div>
        <div class="col m3 s6 valign-wrapper">
          <div class="organization-item valign-wrapper">
            <p class="item-text">Miembro fundador del Club de Astrofísica del Paraguay</p>
          </div>
        </div>
      </div>
  </div>
</div>
