<div class="row gallery-row">
  <masonry [options]="{ transitionDuration: '0.8s', resize: true }" style="heigth: 500px;">
    <div class="brick col s4">
      <img src="assets/images/img-1.jpg" alt="">
    </div>
    <div class="brick col s4">
      <img src="assets/images/img-2.JPG" alt="">
    </div>
    <div class="brick col s4">
      <img src="assets/images/img-5.jpg" alt="">
    </div>
    <div class="brick col s4">
      <img src="assets/images/img-8.jpeg" alt="">
    </div>
    <div class="brick col s4">
      <img src="assets/images/img-3.jpg" alt="">
    </div>
    <div class="brick col s4">
      <img src="assets/images/img-6.png" alt="">
    </div>
    <div class="brick col s4">
      <img src="assets/images/img-9.png" alt="">
    </div>
    <div class="brick col s4">
      <img src="assets/images/img-4.jpg" alt="">
    </div>
    <div class="brick col s4">
      <img src="assets/images/img-7.jpeg" alt="">
    </div>
  </masonry>
</div>
