<div class="row gallery-row">
  <div class="col s4">
    <img src="assets/images/img-1.jpg" alt="">
  </div>
  <div class="col s4">
    <img src="assets/images/img-2.JPG" alt="">
  </div>
  <div class="col s4">
    <img src="assets/images/img-5.jpg" alt="">
  </div>
</div>
<div class="row gallery-row">
  <div class="col s4">
    <img src="assets/images/img-8.jpeg" alt="">
  </div>
  <div class="col s4">
  <img src="assets/images/img-3.jpg" alt="">
  </div>
  <div class="col s4">
    <img src="assets/images/img-6.png" alt="">
  </div>
</div>
<div class="row gallery-row">
  <div class="col s4">
    <img src="assets/images/img-9.png" alt="">
  </div>
  <div class="col s4">
    <img src="assets/images/img-4.jpg" alt="">
  </div>
  <div class="col s4">
    <img src="assets/images/img-7.jpeg" alt="">
  </div>
</div>
