.col img {
  width: 100%;
}

.col.s4 {
  margin: 0px;
  left: 0;
  right: 0;
  padding: 0px;
  height: 200px;
}

.gallery-row {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /*filter: sepia() saturate(10000%) hue-rotate(30deg);*/
	/*opacity: 0.5;*/
}


@media (max-width: 600px) {
  .gallery-row {
    display: none;
  }
}
