.skills-row {
  padding: 30px 0px;
  text-align: center;
}

.skills-row hr {
  width: 5%;
  border: 2px solid #283593;
  margin-bottom: 30px;
}

.skills-row .col.s2 {
  margin: 0px;
  padding: 0px 0px;
}

.percentage {
  margin-top: -65%;
  font-size: 3.4rem;
}

.skill {
  font-size: 1.4rem;
  font-weight: 100;
}

.skills-title {
  margin: 20px 0px 10px 0px;
}

.skill-container {
  padding: 0px 20px;
}

@media (max-width: 600px) {
  .skill-container {
    margin: 45px 0px 0px 0px;
  }
  .skill {
    margin: 45px 0px 0px 0px;
  }

}
