<div class="row skills-row">
  <h4 class="skills-title indigo-text darken-3">HABILIDADES</h4>
  <hr>
  <div class="col s2">
    <chart [type]="type" [data]="data" [options]="options" id="chart"></chart>
    <p class="percentage indigo-text lighten-1">80%</p>
    <div class="skill-container"><p class="skill">Tecnología de la Información</p></div>
  </div>
  <div class="col s2">
    <chart [type]="type" [data]="data2" [options]="options" id="chart"></chart>
    <p class="percentage indigo-text lighten-1">86%</p>
    <p class="skill">Transformación Digital</p>
  </div>
  <div class="col s2">
    <chart [type]="type" [data]="data3" [options]="options" id="chart"></chart>
    <p class="percentage indigo-text lighten-1">92%</p>
    <p class="skill">Project Management</p>
  </div>
  <div class="col s2">
    <chart [type]="type" [data]="data4" [options]="options" id="chart"></chart>
    <p class="percentage indigo-text lighten-1">75%</p>
    <p class="skill">Banca Digital/Mobile</p>
  </div>
  <div class="col s2">
    <chart [type]="type" [data]="data5" [options]="options" id="chart"></chart>
    <p class="percentage indigo-text lighten-1">95%</p>
    <p class="skill">Implementación de Sistemas</p>
  </div>
  <div class="col s2">
    <chart [type]="type" [data]="data6" [options]="options" id="chart"></chart>
    <p class="percentage indigo-text lighten-1">82%</p>
    <p class="skill">Tecnología de la Información</p>
  </div>

</div>
