.container {
  width: 90%;
}

.page-footer {
  background-color: #1a237e;
}

.btn {
  background-color: #e8eaf6;
  color: #3f51b5;
}

.input-field input {
  border-bottom: 1px solid #e8eaf6 ;
  color: #e8eaf6;
}

.input-field textarea {
  border-bottom: 1px solid #e8eaf6;
  color: #e8eaf6;
}

.input-field label {
  color: #e8eaf6;
}

.input-field input:focus {
  border-bottom: 1px solid #80deea;
  box-shadow: 0 0px 0 0 #80deea;
}

.input-field label:focus {
  color: #e8eaf6;
}

#textarea1 {
  height: 90px;
}


.footer-icon {
  height: 50px;
  width: 50px;
  margin: 0px 0px 0px 70px;
  float: left;
}

.footer-info-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 50px;
  margin: 0px 0px 0px 20px;
  float: left;
}

.footer-col {
  text-align: center;
  padding: 10px 20px;
}

.footer-row {
  margin-bottom: 0px;
}
