<app-header-row></app-header-row>
<app-exctract></app-exctract>
<app-gallery></app-gallery>
<div class="container">
  <div class="divider"></div>
  <div class="section">
  <app-skills></app-skills>
  </div>
</div>

<div class="container">
  <div class="divider"></div>
    <div class="section">
      <app-education></app-education>
    </div>
</div>
<app-quote-row></app-quote-row>
<div class="container">
    <div class="divider"></div>
    <div class="section">
      <app-organizations></app-organizations>
    </div>
    <div class="divider"></div>
</div>

<app-talks></app-talks>
<footer class="page-footer">
          <div class="container">
            <div class="row footer-row">
              <div class="row footer-row">
                <div class="col s4 footer-col">
                  <img src="assets/images/smartphone.png" alt="" class="footer-icon">
                  <span class="footer-info-text">+595 981 40 00 77</span>
                </div>
                <div class="col s4 footer-col">
                  <img src="assets/images/mail.png" alt="" class="footer-icon">
                  <span class="footer-info-text">gtwgoa@gmail.com</span>
                </div>
                <div class="col s4 footer-col">
                  <img src="assets/images/linkedin.png" alt="" class="footer-icon">
                  <a href="https://www.linkedin.com/in/gloria-ortega/" class="footer-info-text">@gloria-ortega/</a>
                </div>
    <!-- <form class="col s12">
      <div class="row">
        <div class="col m6 s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate">
              <label for="name">Nombre</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
        </div>
        <div class="col m6 s12">
          <div class="row">
            <div class="input-field col s12 valign-wrapper">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Mensaje</label>
            </div>
        </div>
      </div>
      </div>
      <button class="btn waves-effect waves-light center" type="submit" name="action">Enviar
        <i class="material-icons right">send</i>
      </button>
    </form> -->
  </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Papu Arza
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
