
  <div class="parallax-container">
    <div class="parallax">
      <img src="http://cdn-www.lanacionpy.arcpublishing.com/resizer/wF8ITjprpyYZD2VuE2PgcsJ3a4k=/1200x0/arc-anglerfish-arc2-prod-lanacionpy.s3.amazonaws.com/public/SS4UF3LF2ZBTXIR3OPJVWFTUMU?token=bar" style="display: block; transform: translate3d(-50%, 373px, 0px);">
    </div>
    <i class="material-icons logo-gtwgoa medium">dialpad</i>
    <div class="text-container">
      <h2 class="name-text">GLORIA</h2>
      <h2 class="last-name-text">ORTEGA</h2>
    </div>
    <div class="nav">
      <li>SOBRE MI</li>
      <li>HABILIDADES</li>
      <li>EDUCACIÓN</li>
      <li>ORGANIZACIONES</li>
      <li>CHARLAS</li>
    </div>
    <div class="element"></div>
    <div class="arrow-container">
       <i class="material-icons arrow-down large pulse">play_arrow</i>
    </div>
  </div>



  <script src="typed.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function(){
    Typed.new('.element', {
      strings: ["First sentence.", "Second sentence."],
      typeSpeed: 0
    });
  });
  </script>
