
  <div class="parallax-container">
    <div class="parallax">
      <img src="../../assets/images/bg-4.jpg" style="display: block; transform: translate3d(-50%, 373px, 0px);">
    </div>
    <i class="material-icons logo-gtwgoa medium">dialpad</i>
    <div class="text-container">
      <h2 class="name-text">GLORIA</h2>
      <h2 class="last-name-text">ORTEGA</h2>
    </div>
    <div class="nav">
      <li>SOBRE MI</li>
      <li>HABILIDADES</li>
      <li>EDUCACIÓN</li>
      <li>ORGANIZACIONES</li>
      <li>CHARLAS</li>
    </div>
    <div class="element"></div>
    <div class="home-page-text-wrapper">
      <p id="home-page-text-expert">"El progreso llega</p>
      <p id="home-page-text"></p>
    </div>

    <div class="arrow-container">
       <i class="material-icons arrow-down large pulse">play_arrow</i>
    </div>
  </div>
