/* You can add global styles to this file, and also import other style files */
@media (max-width: 600px) {
  html {
    font-size: 12px;
    background-color: #fff;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
  }
}
